*{
  margin: 0px;
  padding: 0px;

}
body{
  font-family: 'Open Sans', sans-serif;
}


.button-1{
     background-color: #E55473;
     border-radius: 7px;
     padding: 20px 40px;
     border: none;
     color: white;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
   }

nav {
  display: flex; 
  /* margin: 0px 220px; */
  align-items: center;
  

}
/* headder section */
.header{
  background-color: rgba(229, 84, 115, 0.10);
  width: 1900px;
  height: 800px;
 
}
/* banner section */
.banner{
  padding: 15px 0 0px 240px;
  display: flex;
  align-items: center;
 
}
.banner-photo{
  width: 630px;
  height: 785px;
  padding-left: 200px;
  
}
.banner-title{
  font-size: 60px;
  padding-top: 1;
}
.banner-pgh{
  font-size: 18px;
}
