*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family:'Open Sans', sans-serif;
}
/* header section start */
.main-header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.10);
  flex-direction: ;
}
.heading{
  font-size: 50px;
  flex-direction: column;
}
.paragraph{
  font-size: 25px;
  padding-bottom: 20px;
}
.btn{
  border-radius: 8px;
background: #E55473;
align-items: flex-start;
display: inline-flex;
padding: 20px;
color: wheat;
border: none;
}
.btn:hover{
  color: rgb(26, 105, 114);
}
.header-container{
padding: 200px;
}
.header-photo{
 height: 700px;
 padding-top: 110px;

}
/* header section end */

.title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.featured{
  color: rgba(58, 132, 145, 0.747);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}